@model IEnumerable<DataCrawling_Web.Models.Admin.MenuCode>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyClass = "mtcSubNotice";
}

@section Header{
    @RenderPage("~/Views/Shared/Header/_HeaderAdmin.cshtml")

    <script src="~/Resource/Js/Admin/Code/CodeMng.js"></script>
    <link href="~/Resource/Css/Admin/Code/CodeMng.css" rel="stylesheet" />
}

@section Left{
    @RenderPage("~/Views/Shared/Left/_PartialLeft_Admin.cshtml")
}

@section Content{
    @RenderPage("~/Views/Admin/Shared/_gPathBar.cshtml")

    <section style="position: relative;">
        <div id="wItemBatchList">
            <div class="pWrap" id="lNotice">
                <div class="form_col stat_type">
                    <div id="dvStatType" class="elWrap devElWrap">
                        <div class="selType devCombo">
                            <button type="button" id="btnStatType" class="btnSelType mtcBtnA">
                                <span class="txCate">@(Model.Count() > 0 ? Model.ElementAt(0).AreaName : "메뉴구분")</span>
                                <span id="snStatType" class="txResult devTxResult"></span>
                            </button>
                            <input type="hidden" id="hidStatType" data-mtype="@(Model.Count() > 0 ? Model.ElementAt(0).CodeIdx : 0)" class="hidResult" name="hidStatType" value="0">
                            <div id="dvLyrJobType" class="lyElBx devLyElBx">
                                <ul class="selTypeList">
                                    @foreach (var item in Model)
                                    {
                                        <li id="idStatType" data-type="@item.CodeIdx" class="devCoTypeItem">
                                            <button type="button">@item.AreaName</button>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="menu-section">
                    <div class="menu-first code-list" data-lv="0">
                        <ul></ul>
                    </div>
                    <div class="menu-second code-list" data-lv="1">
                        <ul></ul>
                    </div>
                    <div class="menu-third code-list" data-lv="2">
                        <ul></ul>
                    </div>
                    <div class="menu-fourth code-list" data-lv="10">
                        <ul></ul>
                    </div>
                    <div class="page_edit" style="display:none;">
                        <ul>
                            <li>
                                <div class="sel-area">
                                    <span class="title">상위 메뉴</span>
                                    <span class="sel-val">-</span>
                                </div>
                                <div class="area-title">
                                    <span class="title">메뉴명</span>
                                    <input type="text" name="name" value="" autocomplete='off' />
                                </div>
                                <div class="url-title">
                                    <span class="title">URL</span>
                                    <input type="text" name="name" value="" autocomplete='off' />
                                </div>
                                <div class="order-title">
                                    <span class="title">노출순서</span>
                                    <input type="number" name="name" value="" autocomplete='off' min="1" max="@Model.Count()" />
                                </div>
                                <div class="area-login">
                                    <span class="title">로그인 필요</span>
                                    <div class="rdb-login chkBx">
                                        <input type="radio" name="chk_login" value="1" class="login" checked="checked">필요
                                        <input type="radio" name="chk_login" value="0" class="unlogin">불필요
                                    </div>
                                </div>
                                <div class="area-visible">
                                    <span class="title">노출 여부</span>
                                    <div class="rdb-visible chkBx">
                                        <input type="radio" name="chk_visible" value="1" class="visible" checked="checked">공개
                                        <input type="radio" name="chk_visible" value="0" class="invisible">비공개
                                    </div>
                                </div>
                                <input type="hidden" id="idx" value="" />
                                <input type="hidden" id="parent_Id" value="" />
                            </li>
                        </ul>
                        <div class="edit-new">
                            <span class="edit_new">신규 / 수정</span>
                            <span class="delete">삭제</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        $(function () {
            $('#gPathBar h2').text('영역코드 관리');
        });
    </script>
}
