@model List<DataCrawling_Web.Models.Files.OfferViewModel>
@if (Model != null && Model.Count() > 0)
{
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <div class="coWrap">
                    <p class="tit">@(item.O_TYPE == "S" ? "스크랩핑" : "웹·업무 자동화")</p>
                </div>
                <div class="titWrap">
                    <p class="desc">@(item.CONTENT != null ? item.CONTENT.Replace("\r\n", " ") : "")</p>
                    <div class="etc">
                        <span>@item.STAT_TYPE</span>
                        <span>@item.PLAN_TYPE</span>
                        <span>@item.PERIOD_TYPE</span>
                        <span class="highlight">첨부파일 @(item.FileList.Count())개</span>
                    </div>
                </div>
                <div class="priceWrap">
                    <em>@item.PROGRESS_Stat</em>
                </div>
            </li>
        }
    </ul>
}
else
{
    <div class="art-no-data">
        <p>리스트가 없습니다.</p>
    </div>
}

<script type="text/javascript">
    $(function () {
        $('.headerWrap .num').text(@Model.Count());

        if ('@Model.Count()' == '0') {
            $('.headerWrap').hide();
        } else {
            $('.headerWrap').show();
        }
    });
</script>
