@using DataCrawling_Web.BSL.Common;
@model DataCrawling_Web.Models.Admin.GroupUserViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyClass = "mtcSubNotice";
    string Name = "Authority";

    IEnumerable<DataCrawling_Web.Models.ListViewItem> items = new List<DataCrawling_Web.Models.ListViewItem>()
{
        new DataCrawling_Web.Models.ListViewItem()
        {
            Idx = 1,
            Name = "상단메뉴"
        },
        new DataCrawling_Web.Models.ListViewItem()
        {
            Idx = 2,
            Name = "좌측메뉴"
        }
    };
}


@section Header{
    @RenderPage("~/Views/Shared/Header/_HeaderAdmin.cshtml")

    <link href="~/Resource/Css/_CommonModal.css" rel="stylesheet" />
    <link href="~/Resource/Css/Admin/Member/Authority.css" rel="stylesheet" />
}

@section Left{
    @RenderPage("~/Views/Shared/Left/_PartialLeft_Admin.cshtml")
}

@section Content{
    @RenderPage("~/Views/Admin/Shared/_gPathBar.cshtml")

    <section style="position: relative;">
        <div id="wItemBatchList">
            <div class="pWrap" id="lNotice">
                <div class="filter-area">
                    <div class="form_col stat_type">
                        <div class="btn_ty">
                            <div class="btn_ty1">
                                @Html.Partial("~/Views/Shared/_ListView.cshtml", new DataCrawling_Web.Models.ListViewModel
                                {
                                   ID = "Cate_1",
                                   ItemIdx = -1,
                                   ShowAll = false,
                                   Height = 35,
                                   SelectID = -1,
                                   GroupInfo = items
                                })
                            </div>
                            <div class="btn_ty2">
                                @Html.Partial("~/Views/Shared/_ListView.cshtml", new DataCrawling_Web.Models.ListViewModel
                                {
                                    ID = "Cate_2",
                                    ItemIdx = -1,
                                    ShowAll = false,
                                    Height = 35,
                                    SelectID = -1,
                                    GroupInfo = null
                                })
                            </div>
                        </div>
                    </div>
                    <p>
                        <a class="btn btn-create" href="javascript:;">개별권한 추가</a>
                    </p>
                </div>
                <div class="col-table left line user-list">
                    <p class="tit-hide">요청 URL</p>
                    <table class="authority-user">
                        <caption>요청 URL 입니다.</caption>
                        <colgroup>
                            <col style="width:5%">
                            <col style="width:15%">
                            <col style="width:15%">
                            <col style="width:10%">
                            <col style="width:15%">
                            <col style="width:15%">
                            <col style="width:15%">
                            <col style="width:10%">
                        </colgroup>
                        <thead>
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">메뉴명</th>
                                <th scope="col">아이디</th>
                                <th scope="col">이름</th>
                                <th scope="col">VIEW</th>
                                <th scope="col">SELECT</th>
                                <th scope="col">EIDT</th>
                                <th scope="col">권한삭제</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <div class="common-modal service-modal">
        <div class="modal-dimmed"></div>
        <div class="modal-contents">
            <button class="close-button"></button>
            <div class="swiper-container swiper-container-horizontal new-user">
                <div class="col-table left line">
                    <p class="tit-hide">요청 URL</p>
                    <table>
                        <colgroup>
                            <col style="width:10%">
                            <col style="width:50%">
                            <col style="width:40%">
                        </colgroup>
                        <thead>
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">아이디</th>
                                <th scope="col">이름</th>
                            </tr>
                        </thead>
                        <tbody class="">
                            @foreach (var item in Model.GroupUsers)
                            {
                                <tr class="paramtrCls" data-role="@item.IDX">
                                    <td class="par-order">@item.OrderNo</td>
                                    <td class="par-id">@item.User_ID</td>
                                    <td>@item.User_Name</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="permission-list">
                    <ul>
                    </ul>
                </div>
            </div>
            <div class="active-fixed">
                <span class="cancel">취소</span>
                <span class="confirm">등록</span>
            </div>
        </div>
    </div>
    <input type="hidden" id="sg" value="" />

    <script>
        $(function () {
            $('#gPathBar h2').text('사용자 개별권한');

            Get_btn_ty(1);
           /* GetGroupUser($('#isPage').val());*/

            $('.new-user .paramtrCls').click(function () {
                var isDuplicate = false;
                var role = $(this).attr('data-role');
                var order = $(this).attr('data-role');
                var uid = $(this).find('.par-id').text();

                // 기존 리스트 체크
                $('.authority-user .paramtrCls').each(function () {
                    if ($(this).attr('data-idx') == role) {
                        isDuplicate = true;
                        return false;
                    }
                });

                // 등록 대기리스트 체크
                $('.new-user .permission-list ul li').each(function () {
                    if ($(this).attr('data-idx') == order) {
                        isDuplicate = true;
                        return false;
                    }
                });

                if (!isDuplicate) {
                    $('.permission-list ul').append('<li data-idx=' + order + '>' + uid + '</li>');
                } else {
                    alert('이미 추가된 사용자입니다.');
                }
            });

            $('.cancel').click(function () {
                hideModal();
            });

            $('.active-fixed .confirm').click(function () {
                var users = [];
                $('.new-user .permission-list ul li').each(function () {
                    users.push($(this).attr('data-idx'));
                });

                $.ajax({
                    type: "POST",
                    url: "/Member/SaveUsers",
                    data: { users: users },
                    success: function (response) {
                        if (response.success) {
                            location.reload();
                        }
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });

            $(document).on("click", ".btn-create", function (e) {
                showModal('그룹생성', true, false);
                $('.permission-list ul').empty();
            });

            $(document).on("click", ".listWrap", function (e) {
                $(this).toggleClass('on');
            });

            $(document).on("click", ".layerBox li", function (e) {
                var idx = $(this).data('idx');
                var txt = $(this).find('button').text();
                var id = $(this).parents('.layerBox').siblings('.hiddenResult').attr('id');

                if ($('#' + id).val() != txt) {
                    var order = $(this).parents('.listWrap').data('order');
                    $('#' + id).val(txt);
                    $('#' + id).attr('data-idx', idx);
                    $(this).parents('.customCombo').find('.textCategory').text(txt);

                    if (id == 'hidCate_1Type') {
                        // 대분류
                        Get_btn_ty(idx);
                    } else if (id == 'hidCate_2Type') {
                        // 중분류
                        $('.col-table tbody').load('/Member/GetGroupUserAuthority', {
                            Category: $('#hidCate_1Type').attr('data-idx'),
                            GROUP_ID: $('#hidCate_2Type').attr('data-idx'),
                            Page: 1,
                            SearchTxt: ''
                        });
                    } else {
                        // 권한수정
                        var qid = $(this).parents('.paramtrCls').attr('data-role');
                        var visible = $('#hidVisibleType' + order).attr('data-idx');
                        var select = $('#hidSelectType' + order).attr('data-idx');
                        var edit = $('#hidEditType' + order).attr('data-idx');

                        $.ajax({
                            type: "post",
                            url: '/Member/GroupAuthorityUpdate',
                            dataType: "json",
                            data: { 
                                Order: qid,
                                Visible: visible,
                                Select: select,
                                Edit: edit
                            },
                            success: function (data) {
                                if (data.success) {
                                    location.reload();
                                }
                            },
                            error: function (response) {
                                alert(response);
                            }
                        });
                    }
                }
            });

            $(document).on("click", ".btn-delete", function (e) {
                var qid = $(this).parents('.paramtrCls').attr('data-role');
                $.ajax({
                    type: "post",
                    url: '/Member/AuthorityDelete',
                    dataType: "json",
                    data: {
                        Order: qid
                    },
                    success: function (data) {
                        if (data.success) {
                            location.reload();
                        }
                    },
                    error: function (response) {
                        alert(response);
                    }
                });
            });
        });

        function Get_btn_ty(idx) {
            $.ajax({
                type: "post",
                url: '/Member/Get_Category',
                dataType: "json",
                data: {
                    Order: idx
                },
                success: function (data) {
                    if (data.success) {
                        var temp = JSON.parse(data.msg);
                        var html = '<li data-idx="-1"><button type="button">전체보기</button></li>';
                        $.each(temp, function (i, v) {
                            html += '<li data-idx="' + v.Menu_Idx + '"><button type="button">' + v.Menu_Name + '</button></li>';
                        });
                        $('#Cate_2Group .layerBox ul').html(html);
                    }

                    $('.col-table tbody').load('/Member/GetGroupUserAuthority', {
                        Category: $('#hidCate_1Type').attr('data-idx'),
                        GROUP_ID: -1,
                        Page: 1,
                        SearchTxt: ''
                    });
                },
                error: function (response) {
                    alert(response);
                }
            });
        }

        function showModal(title, showCreateButton, showEditButton) {
            $('#g-title').text(title);
            $('.btn-group-create').toggle(showCreateButton);
            $('.btn-group-edit').toggle(showEditButton);
            $('.common-modal').show();
        }

        function hideModal() {
            $('.common-modal').hide();
        }

        function GetGroupUser(page) {
            $('.col-table.user-list tbody').load('/Member/GetGroupPersonAuthority', {
                GROUP_ID: $('#hid@(Name)Type').attr('data-idx'),
                Page: page,
                SearchTxt: $('#searchTxt').val()
            });
        }
    </script>
}
