@model IEnumerable<DataCrawling_Web.Models.Admin.GroupInfoModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyClass = "mtcSubNotice";

    string name = string.Empty;
    IEnumerable<DataCrawling_Web.Models.ListViewItem> items = new List<DataCrawling_Web.Models.ListViewItem>()
{
        new DataCrawling_Web.Models.ListViewItem()
        {
            Idx = 0,
            Name = "Inaccessible"
        },
        new DataCrawling_Web.Models.ListViewItem()
        {
            Idx = 1,
            Name = "Accessible"
        }
    };
}


@section Header{
    @RenderPage("~/Views/Shared/Header/_HeaderAdmin.cshtml")

    <link href="~/Resource/Css/_CommonModal.css" rel="stylesheet" />
    <link href="~/Resource/Css/Admin/Member/Groups.css" rel="stylesheet" />
}

@section Left{
    @RenderPage("~/Views/Shared/Left/_PartialLeft_Admin.cshtml")
}

@section Content{
    @RenderPage("~/Views/Admin/Shared/_gPathBar.cshtml")

    <section style="position: relative;">
        <div id="wItemBatchList">
            <div class="pWrap" id="lNotice">
                <div class="h-title">
                    <h2>그룹 목록</h2>
                    <p>
                        <a class="btn btn-create" href="javascript:;">새 그룹 추가</a>
                    </p>
                </div>
                <div class="col-table line">
                    <table class="table table-striped">
                        <caption>요청 URL 입니다.</caption>
                        <colgroup>
                            <col style="width:5%">
                            <col style="width:10%">
                            <col style="width:30%">
                            <col style="width:5%">
                            <col style="width:5%">
                            <col style="width:5%">
                            <col style="width:15%">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>그룹 ID</th>
                                <th>그룹 이름</th>
                                <th>설명</th>
                                <th>VIEW</th>
                                <th>SELECT</th>
                                <th>EIDT</th>
                                <th>작업</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr data-group-name="@item.GROUP_NAME" data-description="@item.DESCRIPTION" class="paramtrCls" data-idx="@item.GROUP_ID">
                                    <td>@item.OrderNo</td>
                                    <td>@item.GROUP_NAME</td>
                                    <td>@item.DESCRIPTION</td>
                                    <td>
                                        @Html.Partial("~/Views/Shared/_ListView.cshtml", new DataCrawling_Web.Models.ListViewModel
                                   {
                                       ID = "Visible",
                                       ItemIdx = item.OrderNo,
                                       ShowAll = false,
                                       Height = 35,
                                       SelectID = item.Visible_Stat,
                                       GroupInfo = items
                                   })
                                    </td>
                                    <td>
                                        @Html.Partial("~/Views/Shared/_ListView.cshtml", new DataCrawling_Web.Models.ListViewModel
                                   {
                                       ID = "Select",
                                       ItemIdx = item.OrderNo,
                                       ShowAll = false,
                                       Height = 35,
                                       SelectID = item.Select_Stat,
                                       GroupInfo = items
                                   })
                                    </td>
                                    <td>
                                        @Html.Partial("~/Views/Shared/_ListView.cshtml", new DataCrawling_Web.Models.ListViewModel
                                   {
                                       ID = "Edit",
                                       ItemIdx = item.OrderNo,
                                       ShowAll = false,
                                       Height = 35,
                                       SelectID = item.Edit_Authority,
                                       GroupInfo = items
                                   })
                                    </td>
                                    <td>
                                        <div class="edit">
                                            <a class="btn btn-edit" href="javascript:;" data-idx="@item.GROUP_ID">수정</a>
                                            <a class="btn btn-delete" href="javascript:;" data-idx="@item.GROUP_ID">삭제</a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <div class="common-modal service-modal">
        <div class="modal-dimmed"></div>
        <div class="modal-contents">
            <button class="close-button"></button>
            <div class="swiper-container swiper-container-horizontal">
                <div>
                    <span id="g-title"></span>
                </div>
                <div class="g-name g-info">
                    <span>그룹명</span>
                    <input type="text" id="group-id" name="name" value="" placeholder="그룹명을 입력하세요." />
                </div>
                <div class="g-desc g-info">
                    <span>설명</span>
                    <input type="text" id="group-desc" name="name" value="" placeholder="그룹 설명을 입력하세요." />
                </div>
                <div class="edit-new">
                    <span class="btn-group-edit">수정</span>
                    <span class="btn-group-create">생성</span>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="sg" value="" />

    <script>
        $(function () {
            $('#gPathBar h2').text('권한 그룹');

            $('.btn-create').click(function () {
                showModal('그룹생성', true, false);
            });

            $('.btn-edit').click(function () {
                var idx = $(this).attr('data-idx');
                var row = $(this).closest('tr');
                var groupName = row.data('group-name');
                var description = row.data('description');
                $('#sg').val(idx);
                $('#group-id').val(groupName);
                $('#group-desc').val(description);

                showModal('그룹수정', false, true);
            });

            $('.close-button').click(function () {
                hideModal();
            });

            // 그룹 삭제
            $('.btn-delete').click(function () {
                var idx = $(this).attr('data-idx');
                manageGroup('Delete', idx);
            });

            // 그룹 생성
            $('.btn-group-create').click(function () {
                var groupId = $('#group-id').val().trim();
                var groupDesc = $('#group-desc').val().trim();

                if (groupId === '') {
                    alert('그룹명을 입력하세요.');
                    $('#group-id').focus();
                    return;
                }
                if (groupDesc === '') {
                    alert('그룹 설명을 입력하세요.');
                    $('#group-desc').focus();
                    return;
                }

                manageGroup('Add', null, groupId, groupDesc);
            });

            // 그룹 수정
            $('.btn-group-edit').click(function () {
                var groupId = $('#group-id').val().trim();
                var groupDesc = $('#group-desc').val().trim();

                if (groupId === '') {
                    alert('그룹명을 입력하세요.');
                    $('#group-id').focus();
                    return;
                }
                if (groupDesc === '') {
                    alert('그룹 설명을 입력하세요.');
                    $('#group-desc').focus();
                    return;
                }

                manageGroup('Edit', $('#sg').val(), groupId, groupDesc);
            });

            $(document).on("click", ".listWrap", function (e) {
                $(this).toggleClass('on');
            });

            $(document).on("click", ".layerBox li", function (e) {
                var idx = $(this).data('idx');
                var txt = $(this).find('button').text(); // 선택 text
                var id = $(this).parents('.layerBox').siblings('.hiddenResult').attr('id');
                if ($('#' + id).val() != txt) {
                    console.log(id);
                    var order = $(this).parents('.listWrap').data('order');
                    $('#' + id).val(txt);
                    $('#' + id).attr('data-idx', idx);
                    $(this).parents('.customCombo').find('.textCategory').text(txt);
                    
                    var visible = $('#hidVisibleType' + order).data('idx');
                    var select = $('#hidSelectType' + order).data('idx');
                    var edit = $('#hidEditType' + order).data('idx');

                    alert(visible + ' / ' + select + ' / ' + edit);
                    //var visible = $('#VisibleGroup').find('.listWrap').attr('id');
                    //var select = $('#SelectGroup').find('.listWrap').attr('id');
                    //var edit = $('#EditGroup').find('.listWrap').attr('id');
                }
            });
        });

        function showModal(title, showCreateButton, showEditButton) {
            $('#g-title').text(title);
            $('.btn-group-create').toggle(showCreateButton);
            $('.btn-group-edit').toggle(showEditButton);
            $('.common-modal').show();
        }

        function hideModal() {
            $('.common-modal').hide();
        }

        function manageGroup(action, idx, groupId, groupDesc) {
            $.ajax({
                type: "post",
                url: '/Member/ManageGroup',
                dataType: "json",
                data: {
                    Action: action,
                    G_IDX: idx,
                    G_NAME: groupId,
                    G_DESC: groupDesc
                },
                success: function (data) {
                    if (data.success) {
                        location.reload();
                    }
                },
                error: function (response) {
                    alert(response);
                }
            });
        }
    </script>
}
