@using DataCrawling_Web.BSL.Common;

@model DataCrawling_Web.Models.Admin.GroupUserViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyClass = "mtcSubNotice";
}

@section Header{
    @RenderPage("~/Views/Shared/Header/_HeaderAdmin.cshtml")

    <link href="~/Resource/Css/_CommonModal.css" rel="stylesheet" />
    <link href="~/Resource/Css/Admin/Member/Groups.css" rel="stylesheet" />
}

@section Left{
    @RenderPage("~/Views/Shared/Left/_PartialLeft_Admin.cshtml")
}

@section Content{
    @RenderPage("~/Views/Admin/Shared/_gPathBar.cshtml")

    <section style="position: relative;">
        <div id="wItemBatchList">
            <div class="pWrap" id="lNotice">
                <div class="h-title">
                    <div class="form_col stat_type">
                    </div>
                    <p>
                        <a class="btn btn-create" href="javascript:;">새 그룹 추가</a>
                    </p>
                </div>
                <div class="col-table line">
                    <table class="table table-striped">
                        <caption>요청 URL 입니다.</caption>
                        <colgroup>
                            <col style="width:5%">
                            <col style="width:10%">
                            <col style="width:30%">
                            <col style="width:10%">
                            <col style="width:10%">
                            <col style="width:10%">
                            <col style="width:20%">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>그룹 ID</th>
                                <th>그룹 이름</th>
                                <th>설명</th>
                                <th>수정일</th>
                                <th>등록자</th>
                                <th>권한변경</th>
                                <th>그룹명변경 및 삭제</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.GroupInfo)
                            {
                                <tr data-group-name="@item.GROUP_NAME" data-description="@item.DESCRIPTION" class="paramtrCls" data-idx="@item.GROUP_ID" data-role="@item.ROLE_ID">
                                    <td>@item.OrderNo</td>
                                    <td>@item.GROUP_NAME</td>
                                    <td>@item.DESCRIPTION</td>
                                    <td>@item.EDIT_DT.ToString("yyyy년 MM월 dd일")</td>
                                    <td>@(string.IsNullOrEmpty(item.REGISTER) ? "-" : Utility.Decrypt_AES(item.REGISTER))</td>
                                    <td>
                                        <div class="edit">
                                            <a class="btn btn-auth" href="javascript:;" data-idx="@item.GROUP_ID">권한변경</a>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="edit">
                                            <a class="btn btn-edit" href="javascript:;" data-idx="@item.GROUP_ID">수정</a>
                                            <a class="btn btn-delete" href="javascript:;" data-idx="@item.GROUP_ID">삭제</a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <div class="common-modal service-modal">
        <div class="modal-dimmed"></div>
        <div class="modal-contents">
            <button class="close-button"></button>
            <div class="swiper-container swiper-container-horizontal">
                <div>
                    <span id="g-title"></span>
                </div>
                <div class="g-name g-info">
                    <span>그룹명</span>
                    <input type="text" id="group-id" name="name" value="" placeholder="그룹명을 입력하세요." />
                </div>
                <div class="g-desc g-info">
                    <span>설명</span>
                    <input type="text" id="group-desc" name="name" value="" placeholder="그룹 설명을 입력하세요." />
                </div>
                <div class="edit-new">
                    <span class="btn-group-edit">수정</span>
                    <span class="btn-group-create">생성</span>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="sg" value="" />

    <script>
        $(function () {
            $('#gPathBar h2').text('그룹 관리');

            // 그룹생성
            $('.btn-create').click(function () {
                showModal('그룹생성', true, false);
            });

            // 권한변경
            $('.btn-auth').click(function () {
                var idx = $(this).attr('data-idx');

                var height = 630;
                var width = 650;
                var top = Math.ceil((window.screen.height - height) / 2);
                var left = Math.ceil((window.screen.width - width) / 2);
                var post_win = window.open('/Member/GroupAuthority?m_type=group&idx=' + idx, "address_pop", "width=" + width + ",height=" + height + ",status=0,scrollbars=1,top=" + 0 + ",left=" + 0);
                post_win.focus();
            });

            // 그룹정보 수정
            $('.btn-edit').click(function () {
                var idx = $(this).attr('data-idx');
                var groupName = $(this).closest('tr').attr('data-group-name');
                var groupDesc = $(this).closest('tr').attr('data-description');

                $('#group-id').val(groupName);
                $('#group-desc').val(groupDesc);

                showModal('그룹정보 수정', false, true);
                $('#sg').val(idx);
            });

            // 그룹삭제
            $('.btn-delete').click(function () {
                var idx = $(this).attr('data-idx');
                var groupName = $(this).closest('tr').attr('data-group-name');
                var groupDesc = $(this).closest('tr').attr('data-description');

                if (confirm('그룹명 : ' + groupName + '\n그룹설명 : ' + groupDesc + '\n\n정말 삭제하시겠습니까?')) {
                    manageGroup('Delete', idx, null, null);
                }
            });

            // 그룹생성 (팝업)
            $('.btn-group-create').click(function () {
                var groupId = $('#group-id').val().trim();
                var groupDesc = $('#group-desc').val().trim();

                if (groupId === '') {
                    alert('그룹명을 입력하세요.');
                    $('#group-id').focus();
                    return;
                }
                if (groupDesc === '') {
                    alert('그룹 설명을 입력하세요.');
                    $('#group-desc').focus();
                    return;
                }
                manageGroup('Add', null, groupId, groupDesc);
            });

            // 그룹정보 수정 (팝업)
            $('.btn-group-edit').click(function () {
                var groupId = $('#group-id').val().trim();
                var groupDesc = $('#group-desc').val().trim();
                manageGroup('Edit', $('#sg').val(), groupId, groupDesc);
            });

            // 팝업창 닫기
            $('.close-button').click(function () {
                hideModal();
            });
        });

        function showModal(title, showCreateButton, showEditButton) {
            $('#g-title').text(title);
            $('.btn-group-create').toggle(showCreateButton);
            $('.btn-group-edit').toggle(showEditButton);
            $('.common-modal').show();
        }

        function hideModal() {
            $('.common-modal').hide();
        }

        function manageGroup(action, idx, groupId, groupDesc) {
            $.ajax({
                type: "post",
                url: '/Member/ManageGroup',
                dataType: "json",
                data: {
                    Action: action,
                    G_IDX: idx,
                    G_NAME: groupId,
                    G_DESC: groupDesc
                },
                success: function (data) {
                    if (data.success) {
                        location.reload();
                    }
                },
                error: function (response) {
                    alert(response);
                }
            });
        }
    </script>
}
