@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyClass = "mtcSubNotice";
}
@model List<DataCrawling_Web.Models.Api.DataApiModel>

@section Header{
    @RenderPage("~/Views/Shared/_Header.cshtml", Model)
    <link href="~/Resource/Css/Help/Common.css" rel="stylesheet" />
    <link href="~/Resource/Css/Help/_Help.css" rel="stylesheet" />

}

@section Notice{
    @RenderPage("~/Views/Shared/_Notice.cshtml")
}

@section Content{
    <div class="devUseTopBtn" id="container">
        <div class="noticeContent">
            <div class="topArea">
                <h2 class="subTits">스크랩 데이터 관리</h2>
            </div>
            <div class="rowWrap">
                <table>
                    @foreach (var product in Model)
                    {
                        <tr>
                            <td>@product.No</td>
                            <td>@product.Name</td>
                            <td>@product.Type</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>

}
