@using DataCrawling_Web.BSL.Authentication
@using DataCrawling_Web.BSL.Code

<link href="~/Resource/Css/_Header.css" rel="stylesheet" />

<div class="corporate-header">
    <div class="inner">
        <div class="top-menu clearfix">
            <h1><a href="/"></a></h1>
            <ul class="top-menu-list clearfix">

                @if (!string.IsNullOrEmpty(AuthUser.M_ID))
                {
                    <li>
                        <a href="javascript:;" class="top-menu-modal-button">@(AuthUser.UserInfo.User_Name)님</a>
                        <div class="top-menu-modal management-modal">
                            <ul>
                                <li><div class="id">@AuthUser.UserInfo.User_ID</div></li>
                                <li><a href="/Recruit/Co_Read/C/12378789" target="_blank">기업정보보기</a></li>
                                <li><a href="/Corp/Info/Company">기업정보관리</a></li>
                                <li><a href="/Corp/Info/Member">회원정보관리</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="/Help/Faq/Index">고객센터</a></li>
                    <li><a href="/Login/Logout">로그아웃</a></li>
                }
                else
                {
                    <li><a href="/Auth/Join/Regist">회원가입</a></li>
                    <li><a href="/Help/Faq/Index">고객센터</a></li>
                    <li class="devGoLogin"><a href="/Login/Nid_Login">로그인</a></li>
                }
            </ul>
        </div>
        <div class="navigation clearfix" style="display:block;">
            <div class="left-menu">
                <ul class="left-menu-list clearfix">
                    <li><a href="javascript:;" class="button-all-menu"><i></i></a></li>
                    @foreach (var item in UserMenu.GetMenu(Menu_Type: 1))
                    {
                        <li class="nav">
                            <a href="@item.Menu_URL">@item.Menu_Name</a>
                            @if (W_Menu.GetSubMenu(item.Menu_Idx).Count() > 0)
                            {
                                <div class="sub-nav">
                                    <div class="category">
                                        <ul>
                                            @foreach (var sub in W_Menu.GetSubMenu(item.Menu_Idx))
                                            {
                                                <li><a href="@sub.Menu_URL">@sub.Menu_Name</a></li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            }
                        </li>
                    }
                </ul>
            </div>
            <div class="right-menu">
                <ul class="right-menu-list clearfix">
                    @if (!string.IsNullOrEmpty(AuthUser.M_ID))
                    {
                        <li><a href="/Help/Purchase/History">유료 이용내역</a></li>
                    }
                    <li><a href="/Help/Purchase/Product">서비스 상품안내</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>