@model DataCrawling_Web.Models.Data.DataInfoViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyClass = "mtcSubNotice";
}

@section Header{
    @RenderPage("~/Views/Shared/_Header.cshtml", Model)
    <link href="~/Resource/Css/Data/ApiList.css" rel="stylesheet" />
    <script src="~/Resource/Js/Data/ApiList.js"></script>
}

@section Notice{
    @RenderPage("~/Views/Shared/_Notice.cshtml")
}

@section Content{
    <div class="devUseTopBtn" id="container">
        <div class="noticeContent">
            <div class="topArea">
                <h2 class="subTits">API / 자동화</h2>
            </div>
            <div class="mtuTab">
                <ul>
                    <li class="@(Model.Tab == 1 ? "on" : "")">
                        <a href="/Data/ApiList?PubType=1">데이터 API<em class="count">(@Model.DataInfo.Where(s => s.D_TYPE != "자동화 프로그램").Count())</em></a>
                    </li>
                    <li class="@(Model.Tab == 2 ? "on" : "")">
                        <a href="/Data/ApiList?PubType=2">자동화 프로그램<em class="count">(@Model.DataInfo.Where(s => s.D_TYPE == "자동화 프로그램").Count())</em></a>
                    </li>
                </ul>
            </div>
            @*<div class="api-filters">
                    <div class="options">
                        <div class="checkbox" id="chkOpt1" style="">
                            <input type="checkbox" name="" id="checkbox_options1">
                            <label for="checkbox_options1">합격축하금 공고만 보기</label>
                        </div>
                        <div class="checkbox" id="chkOpt2" style="">
                            <input type="checkbox" name="" id="checkbox_options2">
                            <label for="checkbox_options2">즉시지원</label>
                        </div>
                    </div>
                    <div class="sort dropdown">
                        <button type="button" class="select" data-prop="recommend">추천순</button>
                        <div class="popup">
                            <button type="button" class="menu" data-prop="recommend">추천순</button>
                            <button type="button" class="menu" data-prop="dead-line">마감임박순</button>
                            <button type="button" class="menu" data-prop="last">최근 등록 순</button>
                        </div>
                    </div>
                </div>*@
            <div class="rowWrap">
                @RenderPage("~/Views/Data/_PartialView/_ItemList.cshtml", Model)
            </div>
        </div>
    </div>
}