@using DataCrawling_Web.BSL.Authentication
@using DataCrawling_Web.BSL.Code

@helper ActiveMenu(string href, string menuName)
{
    if (HttpContext.Current.Request.Url.AbsolutePath.Contains(href))
    {
        <a href="@href" class="on">@menuName</a>
    }
    else
    {
        <a href="@href">@menuName</a>
    }
}

<section class="secLnb">
    <h1>
        <span class="skip">고객센터 메뉴 - </span>
        <a class="lnbTit" href="/Help/Faq/Index">고객센터</a>
    </h1>
    @foreach (var item in W_Menu.GetMenuType(2, 1))
    {
        <div class="lnbGroup">
            <ul>
                <li>
                    @ActiveMenu(item.Menu_URL, item.Menu_Name)
                </li>
            </ul>
        </div>
    }
</section>

