@model DataCrawling_Web.Models.Data.DataInfoView_Model

@if (ViewBag.tab == "tab_layer_detail_function") // 상세기능
{
    <div class="top-info">
        <h4 class="tit">요청 URL</h4>
    </div>
    <div class="col-table left line">
        <p class="tit-hide">요청 URL</p>
        <table>
            <caption>요청 URL 입니다.</caption>
            <colgroup>
                <col style="width:80%">
                <col style="width:20%">
                <col>
            </colgroup>
            <thead>
                <tr>
                    <th scope="col">요청 URL</th>
                    <th scope="col">결괏값 반환 형식</th>
                </tr>
            </thead>
            <tbody>
                <tr class="paramtrCls">
                    <td data-paramtr-nm="serviceKey">@Model.DataInfo.D_LINK</td>
                    <td class="just-pc">@Model.DataInfo.R_TYPE</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="top-info">
        <h4 class="tit">요청변수(Request Parameter)</h4>
        <span class="detail-info">* 파라미터를 쿼리 스트링 형식으로 전달합니다.</span>
    </div>
    <div class="col-table left line">
        <p class="tit-hide">요청변수(Request Parameter)</p>
        <table>
            <caption>항목명(국문),항목명(영문),항목크기,항목구분,샘플데이터,항목설명 항목을 가진 요청변수(Request Parameter)표 입니다.</caption>
            <colgroup>
                <col style="width:30%">
                <col style="width:10%">
                <col style="width:10%">
                <col style="width:50%">
                <col>
            </colgroup>
            <thead>
                <tr>
                    <th scope="col">파라미터</th>
                    <th scope="col" class="just-pc">타입</th>
                    <th scope="col" class="just-pc">필수항목</th>
                    <th scope="col">항목설명</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.RequestList)
                {
                    <tr class="paramtrCls">
                        <td data-paramtr-nm="serviceKey">@(item.P_NAME_E)</td>
                        <td class="just-pc">@item.P_TYPE</td>
                        <td data-paramtr-size="100" class="just-pc">@(item.P_NEED == 0 ? "X": "O")</td>
                        <td data-paramtr-dc="공공데이터포털에서 받은 인증키">@item.P_EXPLANE</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="top-info">
        <h4 class="tit">출력결과(Response Element)</h4>
    </div>
    <div class="col-table left line">
        <p class="tit-hide">출력결과(Response Element)</p>
        <table>
            <caption>항목명(국문),항목명(영문),항목크기,항목구분,샘플데이터,항목설명 항목을 가진 출력결과(Response Element)표 입니다.</caption>
            <colgroup>
                <col style="width:40%;">
                <col style="width:10%">
                <col style="width:50%">
                <col>
            </colgroup>
            <thead>
                <tr>
                    <th scope="col">요소</th>
                    <th scope="col">타입</th>
                    <th scope="col">항목설명</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ResponseList)
                {
                    <tr class="paramtrCls">
                        <td data-paramtr-nm="serviceKey">@(item.R_NAME_E) (@item.R_NAME_K)</td>
                        <td data-paramtr-bass-value="-" class="just-pc">@(string.IsNullOrEmpty(item.R_TYPE) ? "-" : item.R_TYPE)</td>
                        <td data-paramtr-dc="공공데이터포털에서 받은 인증키">@item.R_EXPLANE</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else if (ViewBag.tab == "tab_layer_prcuse_exam") // 활용사례
{

}
else if (ViewBag.tab == "tab_layer_recommend_data") // 추천데이터
{

}
