@model IEnumerable<DataCrawling_Web.Models.Admin.ContentInfoModel>

@foreach (var item in Model)
{
    <tr class="paramtrCls" data-idx="@(item.IDX)">
        <td data-paramtr-nm="serviceKey">@(item.OrderNo)</td>
        <td class="just-pc">@(item.SECTOR)</td>
        <td data-paramtr-size="100">@(item.TITLE)</td>
        <td>@(item.Get_UserName)</td>
        <td>@(item.VISIBLE == 0 ? "비노출" : "노출")</td>
        <td>@(DateTime.Now.ToString("yyyy.MM.dd") == item.E_DATE.ToString("yyyy.MM.dd") ? item.E_DATE.ToString("HH:MM") : item.E_DATE.ToString("yyyy.MM.dd"))</td>
        <td><span class="edit">수정</span></td>
    </tr>
}

<script>
    $(function () {
        if ('@Model.Count()' == 0) {
            $('.no-data').show();
        } else {
            $('.no-data').hide();
        }

        // 컨텐츠 보기
        $('tbody tr td:not(:nth-child(5)):not(:last-child)').click(function () {
            var idx = $(this).parent('tr').data('idx');
            location.href = '/Admin/Content?idx=' + idx + '&status=view';
        });

        // 컨텐츠 수정
        $('tbody tr .edit').click(function (e) {
            var idx = $(this).parents('tr').data('idx');
            location.href = '/Admin/Content?idx=' + idx + '&status=edit';
        });
    });
</script>