@model IEnumerable<DataCrawling_Web.Models.Offer.SelCode>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Header{
    @RenderPage("~/Views/Shared/_Header.cshtml", Model)
    <link href="~/Resource/Css/Offer/Terms.css" rel="stylesheet" />
    <link href="~/Resource/Css/Offer/Request.css" rel="stylesheet" />
    <script src="~/Resource/Js/Offer/Request.js"></script>
}

@section Notice{
    @RenderPage("~/Views/Shared/_Notice.cshtml")
}

@section Content{
    <div id="container">
        <div id="content">
            <div class="term_resist">
                <h3 class="resist_hd_3 blind">신규 의뢰 등록</h3>
                <div class="resist_step ">
                    <ol>
                        <li class="sp_resist_a"><span>1. 약관동의</span></li>
                        <li class="sp_resist_m is_active"><span>2. 의뢰서 작성</span></li>
                        <li class="sp_resist_b"><span>3. 접수 완료</span></li>
                    </ol>
                </div>
                <div class="regist_notice">
                    <ul>
                        <li>* 동일 포지션인 경우에만 동일 의뢰서로 1명 이상 진행 가능 합니다.</li>
                        <li>* 포지션이 다른 경우에는 의뢰서를 새로 등록 해 주세요.</li>
                        <li>* 고용형태는 정규직, 위촉직, 계약직 중에서 선택 할 수 있으며, 합격 수수료는 서치펌에서 수수료율 또는 수수료 금액으로 제시 할 수 있습니다.</li>
                    </ul>
                </div>
                <div class="resist_content">
                    <div class="resist_request">
                        <h4 class="resist_hd_4 blind">02 의뢰서 작성</h4>
                        <form action="/" method="post" id="regist-frm">
                            <fieldset>
                                <input type="hidden" id="type" name="offerType" value="@ViewBag.type" />
                                <input type="hidden" id="hidCorpId" name="" value="r-gi25" readonly="">
                                <div class="request_position">
                                    <h5 class="resist_hd_5">기본정보</h5>
                                    <div class="request_form">
                                        <div class="form_row">
                                            <div class="col_title">기획 단계</div>
                                            <div class="form_col stat_type">
                                                <div id="dvStatType" class="elWrap devElWrap">
                                                    <div class="selType devCombo">
                                                        <button type="button" id="btnStatType" class="btnSelType mtcBtnA">
                                                            <span class="txCate">제작상태<span class="point">*</span></span>
                                                            <span id="snStatType" class="txResult devTxResult"></span>
                                                        </button>
                                                        <input type="hidden" id="hidStatType" class="hidResult" name="hidStatType" value="0">
                                                        <div id="dvLyrJobType" class="lyElBx devLyElBx">
                                                            <ul class="selTypeList">
                                                                @foreach (var item in Model.Where(p => p.SEL_TYPE == 0))
                                                                {
                                                                    <li id="idStatType" data-type="@item.CODE" class="devCoTypeItem">
                                                                        <button type="button">@item.CODE_NM</button>
                                                                    </li>
                                                                }
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form_col Plan_type">
                                                <div id="dvPlanType" class="elWrap devElWrap">
                                                    <div class="selType devCombo">
                                                        <button type="button" id="btnPlanType" class="btnSelType mtcBtnA">
                                                            <span class="txCate">기획상황<span class="point">*</span></span>
                                                            <span id="snPlanType" class="txResult devTxResult"></span>
                                                        </button>
                                                        <input type="hidden" id="hidPlanType" class="hidResult" name="hidPlanType" value="0">
                                                        <div id="dvLyrPlanType" class="lyElBx devLyElBx">
                                                            <ul class="selTypeList">
                                                                @foreach (var item in Model.Where(p => p.SEL_TYPE == 1))
                                                                {
                                                                    <li id="idPlanType" data-type="@item.CODE" class="devCoTypeItem">
                                                                        <button type="button">@item.CODE_NM</button>
                                                                    </li>
                                                                }
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form_col Period_type">
                                                <div id="dvPeriodType" class="elWrap devElWrap">
                                                    <div class="selType devCombo">
                                                        <button type="button" id="btnPeriodType" class="btnSelType mtcBtnA">
                                                            <span class="txCate">납기희망일<span class="point">*</span></span>
                                                            <span id="snPeriodType" class="txResult devTxResult"></span>
                                                        </button>
                                                        <input type="hidden" id="hidPeriodType" class="hidResult" name="hidPeriodType" value="0">
                                                        <div id="dvLyrPeriodType" class="lyElBx devLyElBx">
                                                            <ul class="selTypeList">
                                                                @foreach (var item in Model.Where(p => p.SEL_TYPE == 2))
                                                                {
                                                                    <li id="idPeriodType" data-type="@item.CODE" class="devCoTypeItem">
                                                                        <button type="button">@item.CODE_NM</button>
                                                                    </li>
                                                                }
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form_row">
                                            <div class="col_title"></div>
                                            <div class="form_col reason">
                                                <div class="elWrap devElWrap">
                                                    <div class="schInpType">
                                                        @if (ViewBag.type == "S")
                                                        {
                                                            <label for="lb_reason" class="ph">스크랩 대상 URL 또는 참고 서비스<span class="point">*</span></label>
                                                        }
                                                        else
                                                        {
                                                            <label for="lb_reason" class="ph">현재 운영 서비스 URL 또는 참고 서비스</label>
                                                        }
                                                        <input type="text" name="lb_Url" id="lb_reason" class="inpDefault devText">
                                                    </div>
                                                    <div class="errorBx">
                                                        <p>URL형식이 잘못되었습니다.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="request_detail">
                                    <h5 class="resist_hd_5">
                                        상세정보
                                        <span class="point">*</span>
                                    </h5>
                                    <div class="request_form">
                                        <div class="form_row">
                                            <div class="form_col spec_add">
                                                <div class="mtcTxaType">
                                                    <span id="snContent" class="ph devTxAreaExam" style="display:block">
                                                        - 개발환경 :<br />
                                                        - 기능요구사항 :
                                                    </span>
                                                    <textarea rows="3" cols="80" id="txtaContent" name="txtContent" class="txArea" title="추가 요구 내용 작성"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="request_file">
                                    <h5 class="resist_hd_5">
                                        파일첨부
                                    </h5>
                                    <div class="request_form">
                                        <div class="form_row">
                                            <div class="form_col spec_add">
                                                <div class="request-info">
                                                    <p class="virusCheck">개인정보보호를 위해 개인정보가 포함된 파일은 사전동의 없이&nbsp;&nbsp;삭제될 수 있습니다.</p>
                                                    <span class="total_size"></span>
                                                </div>
                                                <button type="button" class="button buttonAddUrl is-event is-popup-visible" id="btnMyPCAdd2"><span>파일추가</span></button>
                                                <div class="list portfolioList" style="">
                                                </div>
                                                <input type="file" id="uploadPortfolioFile" name="File_Co_Name" style="display:none;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="request_etc">
                                    <h5 class="resist_hd_5">
                                        기타사항
                                    </h5>
                                    <div class="request_form">
                                        <div class="form_row">
                                            <div class="form_col spec_add">
                                                <div class="mtcTxaType">
                                                    <span id="snContent" class="ph devTxAreaExam" style="display:block">추가 내용을 자유롭게 기재 해 주세요.</span>
                                                    <textarea rows="3" cols="80" id="txtfContent" name="etcContent" class="txArea" title="추가 요구 내용 작성"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                        <p class="btn_regist completed"><button type="button"><span>접수 완료 단계로</span></button></p>
                    </div>
                </div>
                <form method="post" enctype="multipart/form-data" action="/TextUser/FileAttachAjax" id="portfolioUploadFrm"></form>
            </div>
        </div>
    </div>
}
