@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Header{
    @RenderPage("~/Views/Shared/_Header.cshtml", Model)
    <link href="~/Resource/Css/Offer/Terms.css" rel="stylesheet" />
    <script src="~/Resource/Js/Offer/Terms.js"></script>
}

@section Notice{
    @RenderPage("~/Views/Shared/_Notice.cshtml")
}

@section Content{
    <div id="container">
        <div id="content">
            <div class="term_resist">
                <h3 class="resist_hd_3 blind">신규 의뢰 등록</h3>
                <div class="resist_step ">
                    <ol>
                        <li class="sp_resist_a is_active"><span>1. 약관동의</span></li>
                        <li class="sp_resist_m"><span>2. 의뢰서 작성</span></li>
                        <li class="sp_resist_b"><span>3. 접수 완료</span></li>
                    </ol>
                </div>
                <div class="resist_content">
                    <div class="resist_terms">
                        <h4 class="resist_hd_4 blind">01 약관동의</h4>
                        <p class="terms_text">
                            마이플랫폼에서 나에게
                            <br>
                            <em>딱! 맞는 프로젝트를 의뢰</em> 해보세요.
                        </p>
                    </div>
                    <form name="InForm" id="InForm" method="post" action="/corp/offer/request">
                        <input type="hidden" name="REQ_TYPE_CODE" value="Normal">
                        <div class="terms_box">
                            <h5 class="resist_hd_5 blind">@ViewBag.title 의뢰 서비스 이용약관</h5>
                            <div class="terms_agree-all">
                                <span class="mtcChkBx">
                                    <input type="checkbox" class="devCheckbox" id="lb_agree_check-all" name="Agree_Check" value="1">
                                    <label for="lb_agree_check-all" class="bxIpt new"><strong disabled>@ViewBag.title 의뢰 서비스 이용약관과 개인정보 수집 및 이용에 모두 동의합니다.</strong></label>
                                </span>
                            </div>
                            <div class="terms_agree">
                                <p class="agree_check">
                                    <span class="mtcChkBx">
                                        <input type="checkbox" class="devCheckbox" id="lb_agree_check-request" name="lb_agree">
                                        <label for="lb_agree_check-request" class="bxIpt new_small">[필수] 의뢰 서비스 이용약관 동의</label>
                                    </span>
                                </p>
                                <input type="checkbox" id="provision_toggle-request" class="toggle-button">
                                <label for="provision_toggle-request"><i class="ico-arrow"></i></label>
                                <div class="pvsSec pvsCntTp">
                                    @RenderPage("~/Views/Auth/Policy/_Service.cshtml")
                                </div>
                            </div>
                            <div class="terms_agree">
                                <p class="agree_check">
                                    <span class="mtcChkBx">
                                        <input type="checkbox" class="devCheckbox" id="lb_agree_check-personal" name="lb_agree">
                                        <label for="lb_agree_check-personal" class="bxIpt new_small">[필수] 개인정보 수집 및 이용동의</label>
                                    </span>
                                </p>
                                <input type="checkbox" id="provision_toggle-personal" class="toggle-button">
                                <label for="provision_toggle-personal"><i class="ico-arrow"></i></label>
                                <div class="pvsSec pvsCntTp">
                                    @RenderPage("~/Views/Auth/Policy/_Personal.cshtml")
                                </div>
                            </div>
                            <p class="btn_regist devRequest"><button type="button"><span>의뢰서 등록 단계로</span></button></p>

                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="floatingMenu">

        </div>
    </div>
    <input type="hidden" id="type" value="@ViewBag.type" />
}
